:root {
    --blue: #3aa0ff;
    --light-blue: #eef6ff;
    --text: #1f2937cd;
    --backgbk: #ffffff;
    --subparatext: #1f2937b3;

    /* #1f2937 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Roboto, Arial;
    background: radial-gradient(circle at top left, 
    var(--light-blue) 30%, var(--blue));
    color: var(--text);
    width: 100%;
    height: 100dvh;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    gap: 20px;
    overflow: hidden;

}

main nav,
main .rotating-div1,
main .rotating-div2,
main .rotating-div3,
main .rotating-div4,
main .short-profile {
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
 }
    

main nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
}

main nav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.rotating-div1{
    background-color: #eef6ff;
    /* height: 90dvh;
    width:  90dvh; */
    height: 60vmin;
    width:  60vmin;
}    

.rotating-div2{ 
    background-color: var(--backgbk);
    /* width: 70dvh;
    height: 70dvh; */

    width: 55vmin;
    height: 55vmin;
}

.rotating-div3{
    background-color: rgba(252, 244, 244, 0.956);
    width: 50vmin;
    height: 50vmin;

    /* height: 50dvh;
    width:  50dvh; */
}

.rotating-div4 {
    background-color: rgba(218, 235, 253, 0.956);
    /* height: 40dvh;
    width: 40dvh; */

    height: 45vmin;
    width:  45vmin;
    border: .2rem dashed var(--backgbk);
    animation: rotate 80s linear infinite;
}

.rotating-div5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef6ff70;
    /* height: 40dvh;
    width: 40dvh; */
    border-radius: 50%;
    height: 40vmin;
    width: 40vmin;
    animation: counterRotate 80s linear infinite;
   
}
        
.rotating-div4 img {
    width: min(45vmin, 60vw);
    height: auto;
    border-radius: 50%;
    margin-top: -11px;
}
    
.short-profile{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.short-profile p, .spec, span {
    text-align: center;
    color: #012a64;
}

.short-profile p {
    word-spacing: -5pt;
    font-style: italic;
    font-family: monospace; 
    font-size: clamp(2rem, 5vw, 3rem);
}

.short-profile .spec {
    font-size: clamp(.5rem, 2.5vw, 1rem);
    
    border-bottom: .5px solid var(--blue);
    padding-bottom: 15px;
}

.short-profile span {
    font-size: clamp(.7rem, 2.5vw, 1rem);
}

a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--subparatext);
    text-decoration: none;
    background-color: #eef6ff;
    border: none;
    border-radius: 15px;
    padding: 12px;
    font-family: monospace;
    font-style: italic;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.193);
    cursor: pointer;
 }

 a:hover {
    background-color: var(--backgbk);
    color: #333;
}



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes counterRotate{
    from{
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
