:root {
    --blue: #3aa0ff;
    --light-blue: #eef6ff;
    --text: #1f2937cd;
    --backgbk: #ffffff;
    --subparatext: #1f2937b3;

    /* #1f2937 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Roboto, Arial;
    background: radial-gradient(circle at top left, 
    var(--light-blue) 40%, var(--blue));
    color: var(--text);
    width: 100%;
    height: 100dvh;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    gap: 20px;
    overflow: hidden;


    &   nav,
        .rotating-div1,
        .rotating-div2,
        .rotating-div3,
        .rotating-div4,
        .short-profile {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem 2rem;

        & img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

    }

        & .rotating-div1{
            background-color: #eef6ff;
            height: 90dvh;
            width:  90vb;
        
        & .rotating-div2{ 
            background-color: var(--backgbk);
            height: 70dvh;
            width: 70vb;
        }

        & .rotating-div3{
            background-color: rgba(252, 244, 244, 0.956);
            height: 50dvh;
            width:  50vb;
        }

        & .rotating-div4 {
            background-color: rgba(218, 235, 253, 0.956);
            height: 40dvh;
            width: 40vb;
            border: .4rem dashed var(--backgbk);
            animation: rotate 60s linear infinite;
        }
        
        & img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            position: absolute;
            animation: counterRotate 60s linear infinite;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.444);
        }
    }
    
    & .short-profile{
        flex-direction: column;
        gap: 30px;
        margin-top: 400px;
        position: absolute;
        font-style: italic;
        width: 45%;
        text-align: center;
        font-family: monospace;
        font-size: clamp(0.9rem, 1vw, 0.5rem);

        & span{
            line-height: 1.5rem;
        }
    }

        & a {
            display: flex;
            align-items: center;
            gap: 5px;
            color: var(--subparatext);
            text-decoration: none;
            background-color: #eef6ff;
            border: none;
            border-radius: 10px;
            padding: 8px;
            font-family: monospace;
            font-style: italic;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.193);
            cursor: pointer;
            &:hover{
                background-color: var(--backgbk);
                color: #333;
            }
        }

}

/* @keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes counterRotate{
    from{
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
} */

@media (max-width: 786px) {

    main  .short-profile {
        width: 60%;
    }
}
